// Place all the styles related to the Loanables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.loanable {
  color: #000;
  text-decoration: none;
}

a.loanable:hover {
  // background-color: black;
  text-decoration: none;
}
